__pycache__/
*.pyc
*.c
*.o
*.out
test_toplevel
examples/*.c
examples/01_hello
examples/02_numbers
examples/03_functions
examples/04_maybe
examples/05_lists
examples/06_result
examples/07_pattern_match
examples/08_operators
examples/09_tree
examples/10_inspect
vscode-ko/ko-language-*.vsix
tree-sitter-ko/src/
tree-sitter-ko/node_modules/
tree-sitter-ko/package-lock.json
test_toplevel.ko
build/
